@import "tailwindcss";

@layer components {
  .btn-primary {
    border-radius: calc(infinity * 1px);
    background-color: var(--color-blue-600);
    padding-inline: --spacing(3);
    padding-block: --spacing(1);
    font-weight: var(--font-weight-medium);
    color: var(--color-white);
    box-shadow: var(--shadow-md);
    cursor: pointer;
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-blue-700);
      }
    }
  }
}
